{:paths ["src" "resources"]
 :deps {com.kiranshila/cybermonday        {:mvn/version "0.6.215"}
        com.taoensso/timbre               {:mvn/version "6.5.0"}
        mvxcvi/puget                      {:mvn/version "1.3.4"}
        net.sourceforge.plantuml/plantuml {:mvn/version "1.2024.6"}
        org.clojure/clojure               {:mvn/version "1.11.4"}
       ;; required when launching with BB
        org.clojure/tools.cli             {:mvn/version "1.1.230"}}
 :aliases
 {:dev {;; for the profilers
        :jvm-opts ["-Dproject-name=markdown2mindmap.core"]
        :extra-deps {autodoc/autodoc {:local/root "./autodoc.jar"}
                     materiala/materiala {:git/url "https://github.com/davidpham87/materiala/"
                                          :sha "e6197fdd1b48367aae2f3c3bc2fe51784f7e8c15"}}}
  :run-m {:main-opts ["-m" "markdown2mindmap.core"]}

  :build {:deps {io.github.obarbeau/build-clj
                 #_{:local/root "../tools/build-clj"}
                 {:git/sha "7ea324d94c5cde5818ad56b7b266f49cc4560f57"}}
          :exec-args {:lib io.github.obarbeau/markdown2mindmap
                      :main-ns markdown2mindmap.core
                      :version "0.1.0-SNAPSHOT"}}

  ;; clojure -X:env/test:flow-doc
  :flow-doc {:extra-deps {com.github.jpmonettas/flow-storm-dbg {:mvn/version "3.7.5"}}
             :exec-fn flow-storm.api/cli-doc
             :exec-args {:result-name "autodoc"
                         :print-unsampled? true
                         :require-before #{"markdown2mindmap.core-test"}
                         :instrument-ns #{"markdown2mindmap"}
                         :fn-symb clojure.test/run-all-tests
                         :fn-args []
                         :examples-pprint? true
                         :examples-print-length 5
                         :examples-print-level 10}}}}