[:div
 {}
 [:markdown/heading {:level 1} "Debian"]
 [:markdown/heading {:level 2} "Ubuntu"]
 [:markdown/heading {:level 3} "Linux Mint"]
 [:markdown/heading {:level 3} "Kubuntu"]
 [:markdown/heading {:level 3} "Lubuntu"]
 [:markdown/heading {:level 3} "KDE Neon"]
 [:markdown/heading {:level 2} "LMDE"]
 [:ul
  {}
  [:markdown/bullet-list-item
   {}
   [:p {} "list-item1"]
   [:ul
    {}
    [:markdown/bullet-list-item {} [:p {} "list-item1.1"]]
    [:markdown/bullet-list-item
     {}
     [:p {} "list-item1.2"]
     [:ul
      {}
      [:markdown/bullet-list-item {} [:p {} "list-item1.2.1"]]
      [:markdown/bullet-list-item {} [:p {} "list-item1.2.2"]]]]
    [:markdown/bullet-list-item {} [:p {} "list-item1.3"]]]]
  [:markdown/bullet-list-item {} [:p {} "list-item2"]]
  [:markdown/bullet-list-item {} [:p {} "list-item3"]]]
 [:markdown/heading {:level 2} "NewLinux"]
 [:markdown/heading {:level 2} "SolydXK"]
 [:markdown/heading {:level 2} "SteamOS"]
 [:markdown/heading {:level 2} "Raspbian with a very long name"]
 [:markdown/heading {:level 3} [:s "Raspmbc"] " => OSMC"]
 [:markdown/heading {:level 3} [:s "Raspyfi"] " => Volumio"]]