[:div
 {}
 [:markdown/heading {:level 1} "A"]
 [:ul
  {}
  [:markdown/bullet-list-item
   {}
   [:p {} "B"]
   [:ul
    {}
    [:markdown/bullet-list-item {} [:p {} "C"]]
    [:markdown/bullet-list-item {} [:p {} "D"]]
    [:markdown/bullet-list-item {} [:p {} "E"]]
    [:markdown/bullet-list-item {} [:p {} "F"]]
    [:markdown/bullet-list-item {} [:p {} "G"]]
    [:markdown/bullet-list-item
     {}
     [:p {} "H"]
     [:ul
      {}
      [:markdown/bullet-list-item {} [:p {} "I bug here"]]
      [:markdown/bullet-list-item {} [:p {} "J and here"]]]]]]
  [:markdown/bullet-list-item
   {}
   [:p {} "K"]
   [:ul
    {}
    [:markdown/bullet-list-item
     {}
     [:p {} "L"]
     [:ul
      {}
      [:markdown/bullet-list-item
       {}
       [:p {} "M"]
       [:ul
        {}
        [:markdown/bullet-list-item {} [:p {} "N"]]
        [:markdown/bullet-list-item {} [:p {} "O"]]
        [:markdown/bullet-list-item {} [:p {} "P"]]
        [:markdown/bullet-list-item {} [:p {} "Q"]]
        [:markdown/bullet-list-item {} [:p {} "R"]]]]
      [:markdown/bullet-list-item {} [:p {} "S"]]]]
    [:markdown/bullet-list-item {} [:p {} "T"]]
    [:markdown/bullet-list-item
     {}
     [:p {} "U"]
     [:ul
      {}
      [:markdown/bullet-list-item {} [:p {} "V"]]
      [:markdown/bullet-list-item {} [:p {} "W"]]
      [:markdown/bullet-list-item {} [:p {} "X"]]
      [:markdown/bullet-list-item {} [:p {} "Y"]]]]]]]]